<div class="container-wide">
    <nav class="site-nav">
        <h1>Div Rhino Dashboard</h1>
        <div class="logout-form">
            <form action="/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </nav>
    <main class="admin-wrapper">
        <section class="empty-dashboard">
            <img src="/images/divrhino-logo-greyscale.png" alt="" class="empty-logo">
            <p>Your dashboard is currently empty.</p>
        </section>
    </main>
</div>
